* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-family: 'roboto';
}

body {
  background-color: #efefef;
  height: 2000px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}

.header h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #20261c;
}
.logoDetail {
  color: #6b7366;
}

.menu {
  display: flex;
  gap: 10px;
}
.menu a {
  display: block;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #20261c;
  border-bottom: 1px solid transparent;
}

.menu a:hover {
  border-bottom: 1px solid #20261c;
  transition: 0.8s;
}
.sectionUm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 80px;
  justify-content: center;
  margin-top: 50px;
}

.sectionUmFoto {
  justify-self: center;
  position: relative;
}

.sectionUmFoto img {
  border-radius: 100px 100px 0px 0px;
  width: 350px;
  height: auto;
  border: 1px solid #000;
}

.sectionUmFoto::before {
  content: '';
  width: 350px;
  height: 456px;
  border: 2px solid #000;
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 20px;
}

.sectionUmTexto h2 {
  font-size: 4rem;
  font-weight: 200;
  color: #20261c;
}

.sectionUmTexto h1 {
  font-size: 4.5rem;
  color: #0d0d0d;
}

.sectionUmTexto h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 10px;
}

.sectionDois h2,
p,
b {
  color: #fff;
}

.sectionDois {
  background-color: #20261c;
  margin-top: 100px;
  display: grid;
  align-items: center;
}

.sectionDoisTexto {
  padding: 60px;
}
.sectionDoisTexto h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.sectionDoisTexto P {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6;
}

.experiencia {
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.subtitulo {
  font-size: 10rem;
  word-break: break-all;
  line-height: 1;
  max-width: 4.5ch;
  text-transform: uppercase;
  color: #20261c;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  font-weight: 400;
  color: #6b7366;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: #20261c;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #6b7366;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: '';
  width: 4px;
  height: 20px;
  background-color: #20261c;
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -80px;
  text-align: end;
  color: #20261c;
  font-size: 1rem;
  width: 70px;
  font-weight: 500;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: #20261c;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #20261c;
  font-weight: 500;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4px;
  border-radius: 4px;
  background-color: #efefef;
  padding: 15px;
}

.formacao-sec {
  background-color: #20261c;
  padding: 20px;
  margin-top: 100px;
}

.formacao {
  max-width: 1300px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 0 auto;
  align-items: center;
}

.formacao .subtitulo {
  color: #6b7366;
  max-width: 3.5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 400;
}

.formacao-texto strong {
  color: #fff;
}

.tipos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.formacao-inst {
  padding: 20px;
  height: 150px;
  width: 150px;
  background-color: #efefef;
  border-radius: 4px;
  display: grid;
  background-color: #000;
}

.formacao-ano {
  align-self: center;
  color: #efefef;
}

.formacao-titulo {
  align-self: top;
  color: #efefef;
  position: relative;
}

.formacao-titulo::before {
  content: '';
  width: 4px;
  height: 20px;
  position: absolute;
  background-color: #6b7366;
  left: -24px;
}

.formacao-local {
  align-self: end;
  color: #efefef;
}

.projetos {
  padding: 60px;
  margin: 0 auto;
  max-width: 1300px;
}

.project-titulo {
  font-size: 3rem;
  color: #20261c;
}

.container-itens {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.logo-projeto img {
  width: 350px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.5s;
}
.logo-projeto img:hover {
  border: 2px solid #6b7366;
  box-shadow: 0px 0px 10px #6b7366;
}

.itens h3 {
  margin-top: 20px;
  color: #6b7366;
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  background-color: #20261c;
  padding: 60px;
}

.container-footer {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #efefef;
  height: 200px;
}

.esquerda h2 {
  font-size: 3rem;
  color: #6b7366;
  margin-bottom: 20px;
}

.esquerda p {
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1;
  font-weight: 300;
}

.direita {
  justify-self: end;
}

.direita ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.direita img {
  width: 50px;
}

.roda {
  text-align: center;
  margin-top: 20px;
  font-size: 1.1rem;
}
