* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-family: 'roboto';
}

body {
  background-color: #efefef;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #000;
}

.header h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #20261c;
}
.logoDetail {
  color: #6b7366;
}

.menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
.menu a {
  display: block;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 400;
  color: #20261c;
  border-bottom: 1px solid transparent;
}

.menu a:hover {
  border-bottom: 1px solid #20261c;
  transition: 0.8s;
}
.sectionUm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 80px;
  justify-content: center;
  margin-top: 50px;
}

.sectionUmFoto {
  justify-self: center;
  position: relative;
}

.sectionUmFoto img {
  border-radius: 100px 100px 0px 0px;
  width: 350px;
  height: auto;
  border: 1px solid #000;
}

.sectionUmFoto::before {
  content: '';
  width: 350px;
  height: 456px;
  border: 2px solid #000;
  border-radius: 100px 100px 0px 0px;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 20px;
}

.sectionUmTexto h2 {
  font-size: 4rem;
  font-weight: 200;
  color: #20261c;
}

.sectionUmTexto h1 {
  font-size: 4.5rem;
  color: #0d0d0d;
}

.sectionUmTexto h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 10px;
}

.sectionDois h2,
p,
b {
  color: #fff;
}

.sectionDois {
  background-color: #20261c;
  margin-top: 100px;
  display: grid;
  align-items: center;
}

.sectionDoisTexto {
  padding: 100px;
}
.sectionDoisTexto h2 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.header img {
  height: 30px;
}

.ancora {
  position: relative;
  display: none;
}

.botao {
  display: none;
  padding: 10px;
}

.menu-hamburguer {
  display: grid;
  position: absolute;
  background-color: #6b7366;
  text-align: center;
  gap: 20px;
  width: 300px;
  top: 60px;
  right: 0px;
  z-index: 9999;
  display: none;
}

.toggle {
  display: block;
  transition: 1s;
}

.menu-hamburguer a {
  font-size: 1.3rem;
  color: #efefef;
  padding: 15px 20px;
}

.menu-hamburguer li {
  padding: 15px 20px;
}

.sectionDoisTexto P {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.6;
}

.experiencia {
  max-width: 1300px;
  padding: 60px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.subtitulo {
  font-size: 10rem;
  word-break: break-all;
  line-height: 1;
  max-width: 4.5ch;
  text-transform: uppercase;
  color: #20261c;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  font-weight: 400;
  color: #6b7366;
  margin-bottom: 60px;
}

.experiencia-texto strong {
  color: #20261c;
}

.separa {
  display: grid;
  gap: 20px;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  background-color: #6b7366;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  gap: 10px 20px;
}

.empresa::before {
  content: '';
  width: 4px;
  height: 20px;
  background-color: #20261c;
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -80px;
  text-align: end;
  color: #20261c;
  font-size: 1rem;
  width: 70px;
  font-weight: 500;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: #20261c;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #20261c;
  font-weight: 500;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4px;
  border-radius: 4px;
  background-color: #efefef;
  padding: 15px;
}

.formacao-sec {
  background-color: #20261c;
  padding: 20px;
  margin-top: 80px;
}

.meusItens {
  align-content: center;
}

.formacao {
  max-width: 1300px;
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin: 0 auto;
}

.formacao .subtitulo {
  color: #6b7366;
  max-width: 3.5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  color: #fff;
  margin-bottom: 60px;
  font-weight: 400;
}

.formacao-texto strong {
  color: #fff;
}

.tipos {
  display: flex;
  gap: 20px;
  position: relative;
}

.formacao-inst {
  padding: 20px;
  height: 150px;
  width: 150px;
  background-color: #efefef;
  border-radius: 4px;
  display: grid;
  background-color: #000;
}

.formacao-ano {
  align-self: top;
  color: #efefef;
}

.formacao-titulo {
  align-self: top;
  color: #efefef;
}
.formacao-inst {
  position: relative;
  flex: 1;
}

.formacao-inst::before {
  content: '';
  width: 4px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  left: -4px;
  top: 20px;
}

.formacao-local {
  align-self: end;
  color: #efefef;
}

.projetos {
  padding: 60px;
  margin: 0 auto;
  max-width: 1300px;
}

.project-titulo {
  font-size: 3rem;
  color: #20261c;
}

.container-itens {
  margin: 60px 0px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.itens {
  max-width: 100%;
}

.logo-projeto {
  border: 2px solid transparent;
}

.logo-projeto img {
  width: 350px;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: 0.5s;
}
.logo-projeto img:hover {
  border: 2px solid #6b7366;
  box-shadow: 0px 0px 10px #6b7366;
}

.itens h3 {
  margin-top: 20px;
  color: #6b7366;
  font-size: 1.5rem;
  text-align: center;
}

.footer {
  background-color: #20261c;
  padding: 60px;
}

.container-footer {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #efefef;
  height: 200px;
}

.esquerda h2 {
  font-size: 3rem;
  color: #6b7366;
  margin-bottom: 20px;
}

.esquerda p {
  font-size: 1.5rem;
  max-width: 40ch;
  line-height: 1;
  font-weight: 300;
}

.direita {
  justify-self: end;
}

.direita ul {
  display: flex;
  gap: 50px;
  align-items: center;
}

.direita img {
  width: 50px;
}

.experiencia-texto {
  margin-top: 10px;
}

.roda {
  text-align: center;
  margin-top: 20px;
  font-size: 1.1rem;
}

@media (max-width: 1400px) {
  .sectionUmFoto img {
    width: 300px;
  }
  .sectionUmFoto::before {
    width: 300px;
    height: 390px;
  }

  .sectionUmTexto h2 {
    font-size: 3rem;
  }

  .header h2 {
    font-size: 2.5rem;
  }
  .sectionUmTexto h1 {
    font-size: 3.5rem;
  }

  .sectionUm {
    gap: 5px;
  }

  .experiencia {
    gap: 10px;
  }
  .subtitulo {
    font-size: 10rem;
  }

  .experiencia-texto {
    font-size: 1.2rem;
  }

  .experiencia-texto strong {
    color: #20261c;
  }
  .container-itens {
    justify-content: space-between;
    gap: 10px;
  }
  .itens {
    max-width: 100%;
  }

  .esquerda p {
    font-size: 1.3rem;
  }

  .projetos {
    padding: 20px;
  }

  .experiencia-texto {
    margin-top: 10px;
  }
}

@media (max-width: 1250px) {
  .formacao-texto {
    font-size: 1.5rem;
  }

  .formacao .subtitulo {
    max-width: 100%;
  }
  .formacao-titulo::before {
    display: none;
  }

  .formacao .subtitulo {
    font-size: 8.5rem;
    max-width: 3.5ch;
  }
}

@media (max-width: 1200px) {
  .subtitulo {
    font-size: 8rem;
  }

  .itens img {
    width: 270px;
  }
  .experiencia {
    grid-template-columns: 1fr 1.5fr;
  }

  .formacao .subtitulo {
    font-size: 80px;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .tipos {
    flex-wrap: wrap;
  }

  .formacao {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  .menu a {
    font-size: 1.125rem;
  }
  .sectionUmTexto h2 {
    font-size: 2rem;
  }
  .sectionUmTexto h1 {
    font-size: 3rem;
  }
  .sectionUmTexto h3 {
    font-size: 1.3rem;
  }

  .formacao {
    grid-template-columns: 1fr;
  }

  .experiencia {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    font-size: 5rem;
    margin-bottom: 50px;
    max-width: 100%;
    position: relative;
  }

  .subtitulo::before {
    top: 80px;
    content: '';
    width: 100px;
    height: 5px;
    background-color: #20261c;
    position: absolute;
  }

  .formacao .subtitulo::before {
    top: 80px;
    content: '';
    width: 100px;
    height: 5px;
    background-color: #efefef;
    position: absolute;
  }

  .experiencia-texto {
    font-size: 1.2rem;
    max-width: 60ch;
  }

  .experiencia-texto strong {
    color: #20261c;
  }

  .empresa-ano {
    top: 17px;
    left: 150px;
  }
  .empresa::before {
    display: none;
  }
  .itens img {
    width: 230px;
  }
  .container-itens {
    margin-bottom: 60px;
  }
}

@media (max-width: 900px) {
  .menu a {
    font-size: 1.125rem;
  }
  .sectionUmTexto h2 {
    font-size: 2rem;
  }
  .sectionUmTexto h1 {
    font-size: 3rem;
  }
  .sectionUmTexto h3 {
    font-size: 1.3rem;
  }

  .experiencia {
    grid-template-columns: 1fr;
  }
  .subtitulo {
    font-size: 5rem;
    margin-bottom: 50px;
    max-width: 100%;
    position: relative;
  }

  .subtitulo::before {
    top: 80px;
    content: '';
    width: 100px;
    height: 5px;
    background-color: #20261c;
    position: absolute;
  }

  .experiencia-texto {
    font-size: 1.2rem;
    max-width: 60ch;
  }

  .experiencia-texto strong {
    color: #20261c;
  }

  .empresa-ano {
    top: 17px;
    left: 150px;
  }
  .empresa::before {
    display: none;
  }
  .itens img {
    width: 230px;
  }
  .container-itens {
    margin-bottom: 60px;
    gap: 0px;
  }
  .container {
    padding: 60px;
  }
  .sectionUmFoto img {
    width: 250px;
    border-radius: 80px 80px 0px 0px;
  }

  .sectionUmFoto::before {
    width: 250px;
    height: 335px;
  }

  .sectionUm {
    padding: 30px 0px;
  }

  .footer {
    padding: 40px;
  }

  .footer h2 {
    font-size: 2.5rem;
  }

  .footer p {
    font-size: 1.1rem;
    line-height: 1.1;
  }

  .direita img {
    width: 40px;
    padding: 10px;
  }

  .header {
    padding: 20px 30px;
  }
}

@media (max-width: 850px) {
  .sectionUm {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0px;
  }

  .sectionUmFoto::before {
    display: none;
  }

  .sectionUmTexto {
    margin-top: 30px;
    text-align: center;
  }

  .container-itens {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .itens {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    border-radius: 10px;
  }

  .meuTitulo {
    display: grid;
    align-content: center;
  }

  .logo-projeto {
    display: grid;
    justify-content: center;
  }

  .logo-projeto img:hover {
    border: none;
    box-shadow: none;
  }

  .logo-projeto img {
    border: none;
    object-fit: contain;
  }
  .meuTitulo {
    display: none;
  }
  .logo-projeto:hover {
    border: 2px solid #6b7366;
    box-shadow: 0px 0px 10px #6b7366;
  }
  .container-itens {
    gap: 20px;
  }

  .botao {
    display: block;
  }

  .menu {
    display: none;
  }

  .ancora {
    display: block;
  }
}

@media (max-width: 700px) {
  .subtitulo {
    font-size: 70px;
  }

  .formacao .subtitulo {
    font-size: 70px;
  }

  .container-footer {
    grid-template-columns: 1fr;
  }

  .direita {
    justify-self: center;
  }

  .direita ul {
    margin-bottom: 30px;
  }
  .roda {
    margin-top: 30px;
  }

  .esquerda {
    text-align: center;
    justify-items: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 610px) {
  .subtitulo {
    font-size: 55px;
  }

  .empresa {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .formacao .subtitulo {
    font-size: 55px;
  }

  .tipos {
    flex-direction: column;
  }

  .formacao-inst {
    width: 100%;
    gap: 30px;
  }

  .formacao-texto {
    font-size: 20px;
  }

  .subtitulo {
    font-size: 50px;
  }

  .subtitulo::before {
    top: 60px;
  }

  .formacao .subtitulo::before {
    top: 60px;
  }

  .formacao-inst {
    width: 90%;
  }

  .formacao,
  .experiencia,
  .container {
    padding: 50px 30px;
  }

  .header {
    padding: 20px 20px;
  }

  .sectionUm {
    margin-top: 0px;
  }

  .sectionUm h1 {
    font-size: 39px;
  }

  .sectionUm {
    gap: 20px;
  }

  .formacao .subtitulo,
  .subtitulo {
    font-size: 48px;
  }

  .container-footer {
    display: grid;
    gap: 30px;
    border: none;
  }

  .esquerda h2 {
    font-size: 37px;
  }

  .direita {
    margin: 0px;
  }

  .footer {
    display: grid;
    gap: 30px;
  }
}
